:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

p {
  display: block; /* Ensure the <p> tag is displayed as a block element */
  margin: 10px 0; /* Add margin for spacing */
  color: #333; /* Set text color */
}

#pg {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.testBegin {
  width: 200px;
}
  
.selectTest {
  width: 200px;
}
  
.homePage {
    display: block;
}

.sharp {
    height: 80px;
    width: 100px;
    clip-path: polygon(16.5% 50%, 83.5% 50%, 100% 0, 0 0);
    transform-origin: 0 0;
    background-color: black;
    padding-bottom: 40px;
}

.sharpButtonsDiv {
    width: 500;
    height: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.top {
  transform: rotate(0deg);
}

.topLeft {
  transform: rotate(-45deg) translateY(71px) translateX(-29px);
}

.topRight {
  transform: rotate(45deg);
}

.right {
  transform: rotate(90deg) translateY(130px) translateX(70px);
}

.left {
  transform: rotate(-90deg) translateY(-270px) translateX(-170px);
}

.bottomLeft {
  transform: rotate(-135deg) translateY(-452px) translateX(113px);
}

.bottomRight {
  transform: rotate(135deg)translateY(113px) translateX(353px);
}

.bottom {
  transform: rotate(180deg)translateY(-240px) translateX(500px);
}

.circle1{
  width: 50px;
  height: 50px;
  margin: auto;
  scale: 1;
  transform: rotate(50deg);
}