:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 200;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
}

.test-selection-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

html,body {
  background-color: #eeeeee;
  /*background-color: grey;*/
  border-radius: 10px;
  margin: 0;
  height: 100%;
}

.consent{
  margin: auto;
  width: 50%;
  text-align:left;
}

.consent h1 {
  font-size: 2rem;
}

.consent button {
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  color: #0055ab;
  border-width: 2px;
  border-color: #0055ab;
}

.consent button:hover {
  background-color:#002ead;
  transition: 0.7s;
  color: white;
}

.homePage{
width: 50%;
margin: auto;
}

.homePage{
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 200;
  color: black;
}


p {
  display: block; /* Ensure the <p> tag is displayed as a block element */
  margin: 10px 0; /* Add margin for spacing */
  color: #333; /* Set text color */
  font-size: 1.5rem;
}

#pg {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.defaultButton {
  width: 200px;
  height: 50px;
  background-color: #0072ef;
  border-width: 0px;
  border-radius: 5px;
  margin-right: 5px;
}

.defaultButton:hover{
  background-color:#002ead;
  transition: 0.7s;
}

.testBegin {
  width: 200px;
  background-color: #0072ef;
  border-width: 0px;
  border-radius: 5px;
  margin-right: 5px;
  
}
 
.testBegin:hover {
  background-color:#002ead;
  transition: 0.7s;
}

.selectTest {
  margin-left: 5px;
  width: 200px;
  border-width: 0px;
  background-color: #0072ef;
  border-radius: 5px;
}

.selectTest:hover {
  background-color:#002ead;
  transition: 0.7s;
}

.sharp {
    height: 80px;
    width: 100px;
    clip-path: polygon(16.5% 50%, 83.5% 50%, 100% 0, 0 0);
    transform-origin: 0 0;
    background-color: black;
    padding-bottom: 40px;
}

.sharpButtonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.circle1 {
  width: 260px;
  height: 260px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 svg {
  width: 100%;
  height: 100%;
  transform: rotate(0deg) /*translateX(85px) translateY(-30px)*/;
  margin: auto;
  margin-top: 10px;
}

.sharpTestContainer {
  background-color: #F0F0F1;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
  width: 25%;
  display: grid;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh;
}

.app-icon-container {
  width: 216px;
  height: 172px;
}

.left-hand {
  margin-left: -110px;
  animation: move 3s linear infinite alternate; /* Adjusted duration to account for pause */
}

@keyframes move {
  0%, 20% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-40px);
  }
  80%, 100% {
    transform: translateY(0);
  }
}

.a {
  fill: white; /* Example fill color */
}

.b {
  fill: white; /* Example fill color */
  stroke: #000000; /* Example stroke color */
  stroke-width: 1; /* Example stroke width */
}

.rect-separator {
  fill: #000000; /* Fill color for the rectangle */
  transform: translate(117.074px, 58.91px) rotate(-65deg); /* Transformation properties */
}

.card {
  position: relative;
  width: 320px;
  height: 200px;
  background-color: white;
  border: 2px dashed grey;
  border-radius: 10px;
  transform-origin: bottom right;
  padding: 10px;
  margin: 10px;
}

.card p {
  padding-top: 8%;
  font-size: 13px;
}

.slider {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 20px;
  height: 200px;
  background-color: grey;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  cursor: pointer;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Set the height to 100% of the viewport height */
}



/* colorTest */
.colorTestBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 5px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  margin-top: 30px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.colorTestBtn:hover,
.colorTestBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.colorTestBtn:hover {
  transform: translateY(-1px);
}

.colorTestBtn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.colorTestCard {
  background-color: #F0F0F1;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
  width: 25%;
}

.color-image {
  margin-top: 30px;
}

.media-space-container{
  margin: auto;
  width: 40%;
  text-align:center;
}

.media-space-container h1 {
  font-size: 2rem;
}

.card-container-wrapper{
  margin: auto;
  width: 50%;
  margin-top: 100px;
}
.card-container-wrapper h1 {
  margin-top: 50px;
}

.slider-no-change {
  margin: auto;
  width: 50%;
  text-align: left;
}

.slider-no-change-button {
  width: 100%;
  background-color: transparent;
  color: #0055ab;
  border-width: 2px;
  border-color: #0055ab;
  height: 50px;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.slider-no-change-button:hover {
  background-color:#002ead;
  transition: 0.7s;
  color: white;
}

.slider-next {
  width: 100%;
}

.be-ready {
  margin: auto;
  width: 70%;
}

.be-ready-svgs {
  padding: 0px;
  margin: 0px;
}

.be-ready-svgs svg {
  width: auto;
  height: 100px;
}

.be-ready-svgs :nth-child(2){
  width: auto;
  height: 100px;
}

svg path:hover {
  fill: #cccccc; /* Change color on hover */
  cursor: pointer; /* Change cursor to indicate clickable area */
}

.eyes-result {
  display: inline;
  justify-content: space-between;
}

.resultDescriptionLeft {
  display: flex;
  justify-content: center;
  margin-right: 0px;
}

.resultDescriptionRight {
  display: flex;
  justify-content: center;
  margin-left: 45px;
}

/*astigmatism test*/
